.warning{
    background-color: rgb(255, 174, 0);
}

.danger{
    background-color: rgb(199, 0, 0);
}

.success{
    background-color: green;
    
}
.chip-text{
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 6px;
}