<p-toast />
<p-confirmdialog  [style]="{ width: '90vw', maxWidth: '400px' }"/>
<p-drawer header="Add Record" [(visible)]="isAddDrawerOpen" position="right">
    <form class="py-2" [formGroup]="addFormGroup" (ngSubmit)="addRecord()">
        <div class=""><h5>Personal Informtion</h5></div>
        <div class="input-group">
            <p-floatlabel variant="on">
                <input id="name" pInputText formControlName="name" />
                <label for="name">Full Name</label>
            </p-floatlabel>
            <div class="input-message">
                <small class="p-error" *ngIf="addFormGroup.get('name')?.touched && addFormGroup.get('name')?.invalid">
                    {{ getErrorMessage('name') }}
                </small>
            </div>
        </div>
        <div class="flex gap-2">
            <div class="input-group max-w-6rem">
                <p-floatlabel variant="on">
                    <input id="age" type="number" pInputText formControlName="age" />
                    <label for="age">Age</label>
                </p-floatlabel>
                <div class="input-message">
                    <small class="p-error" *ngIf="addFormGroup.get('age')?.touched && addFormGroup.get('age')?.invalid">
                        {{ getErrorMessage('age') }}
                    </small>
                </div>        
            </div>
            <div class="input-group flex-grow-1">
                <p-floatlabel variant="on">
                    <input id="phone" type="phone" pInputText formControlName="phone" />
                    <label for="phone">Phone</label>
                </p-floatlabel>
                <div class="input-message">
                    <small class="p-error" *ngIf="addFormGroup.get('phone')?.touched && addFormGroup.get('phone')?.invalid">
                        {{ getErrorMessage('phone') }}
                    </small>
                </div>
            </div>
        </div>
        <div class="input-group">
            <p-floatlabel variant="on">
                <input id="department" pInputText formControlName="department" />
                <label for="department">Department</label>
            </p-floatlabel>
            <div class="input-message">
                <small class="p-error" *ngIf="addFormGroup.get('department')?.touched && addFormGroup.get('department')?.invalid">
                    {{ getErrorMessage('department') }}
                </small>
            </div>
            
        </div>
        <div class="input-group">
            <p-floatlabel variant="on">
                <textarea id="address" pInputText formControlName="address" ></textarea>
                <label for="address">Address</label>
            </p-floatlabel>
            <div class="input-message">
                <small class="p-error" *ngIf="addFormGroup.get('address')?.touched && addFormGroup.get('address')?.invalid">
                    {{ getErrorMessage('address') }}
                </small>
            </div>   
        </div>
        <div class=""><h5>Credentials</h5></div>
        <div class="input-group">
            <p-floatlabel variant="on">
                <input id="email" pInputText formControlName="email" />
                <label for="email">Email</label>
            </p-floatlabel>
            <div class="input-message">
                <small class="p-error" *ngIf="addFormGroup.get('email')?.touched && addFormGroup.get('email')?.invalid">
                    {{ getErrorMessage('email') }}
                </small>
            </div>     
        </div>
        <div class="input-group">
            <p-floatlabel  variant="on">
                <p-password  formControlName="password" inputId="password" [toggleMask]="true"/>
                <label for="password">Password</label>
            </p-floatlabel>
            <div class="input-message">
                <small class="p-error" *ngIf="addFormGroup.get('password')?.touched && addFormGroup.get('password')?.invalid">
                    {{ getErrorMessage('password') }}
                </small>
            </div>
        </div>
        <p-button label="Add" styleClass="full-width-button" type="submit"></p-button>
    </form>
</p-drawer>
<p-drawer header="Update Record" [(visible)]="isUpdateDrawerOpen" position="right">
    <form class="py-2" [formGroup]="updateFormGroup" (ngSubmit)="updateRecord()">
        <div class="input-group">
            <p-floatlabel variant="on">
                <input id="email" class="surface-100" pInputText formControlName="email" readonly/>
                <label for="email">Email</label>
            </p-floatlabel>
            <div class="input-message">
                <small class="p-error" *ngIf="addFormGroup.get('email')?.touched && addFormGroup.get('email')?.invalid">
                    {{ getErrorMessage('email') }}
                </small>
            </div>     
        </div>
        <div class="input-group">
            <p-floatlabel variant="on">
                <input id="name" pInputText formControlName="name" />
                <label for="name">Full Name</label>
            </p-floatlabel>
            <div class="input-message">
                <small class="p-error" *ngIf="updateFormGroup.get('name')?.touched && updateFormGroup.get('name')?.invalid">
                    {{ getErrorMessage('name') }}
                </small>
            </div>
        </div>
        <div class="flex gap-2">
            <div class="input-group max-w-6rem">
                <p-floatlabel variant="on">
                    <input id="age" type="number" pInputText formControlName="age" />
                    <label for="age">Age</label>
                </p-floatlabel>
                <div class="input-message">
                    <small class="p-error" *ngIf="updateFormGroup.get('age')?.touched && updateFormGroup.get('age')?.invalid">
                        {{ getErrorMessage('age') }}
                    </small>
                </div>        
            </div>
            <div class="input-group flex-grow-1">
                <p-floatlabel variant="on">
                    <input id="phone" type="phone" pInputText formControlName="phone" />
                    <label for="phone">Phone</label>
                </p-floatlabel>
                <div class="input-message">
                    <small class="p-error" *ngIf="updateFormGroup.get('phone')?.touched && updateFormGroup.get('phone')?.invalid">
                        {{ getErrorMessage('phone') }}
                    </small>
                </div>
            </div>
        </div>
        <div class="input-group">
            <p-floatlabel variant="on">
                <input id="department" pInputText formControlName="department" />
                <label for="department">Department</label>
            </p-floatlabel>
            <div class="input-message">
                <small class="p-error" *ngIf="updateFormGroup.get('department')?.touched && updateFormGroup.get('department')?.invalid">
                    {{ getErrorMessage('department') }}
                </small>
            </div>
            
        </div>
        <div class="input-group">
            <p-floatlabel variant="on">
                <textarea id="address" pInputText formControlName="address" ></textarea>
                <label for="address">Address</label>
            </p-floatlabel>
            <div class="input-message">
                <small class="p-error" *ngIf="updateFormGroup.get('address')?.touched && updateFormGroup.get('address')?.invalid">
                    {{ getErrorMessage('address') }}
                </small>
            </div>   
        </div>
        <p-button label="Update" styleClass="full-width-button" type="submit"></p-button>
    </form>
</p-drawer>
<div class="card p-2 bg-white shadow-1">
    <p class="px-2">Pagination, filteration, sorting and CRUD manipulations is done from the localstorage</p>
    <div class="flex justify-content-between align-items-center px-2">
        <h3>Users</h3>
        <p-button label="Add Users" icon="pi pi-plus" size="small" (onClick)="handleAddRecord()" />
    </div>
    <p-table
        #dt2
        [value]="users"
        dataKey="email"
        [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]"
        [paginator]="true"
        [globalFilterFields]="['id','name', 'country.name', 'representative.name']"
        [tableStyle]="{ 'min-width': '50rem', }"
        [resizableColumns]="true"
        size="small"
        editMode="row"
        (sortFunction)="customSort($event)"
        [customSort]="true"
    >
        <ng-template #header>
            <tr>
                <th >Sl no.</th>
                <th pSortableColumn="id">ID <p-sortIcon field="id" /></th>
                <th pSortableColumn="email" >Email <p-sortIcon field="email" /></th>
                <th pSortableColumn="name">Name <p-sortIcon field="name" /></th>
                <th pSortableColumn="age">Age <p-sortIcon field="age" /></th>
                <th pSortableColumn="phone">Phone <p-sortIcon field="phone" /></th>
                <th pSortableColumn="address">Address <p-sortIcon field="address" /></th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template #body let-user let-rowIndex="rowIndex">
            <tr>
                <td>
                    {{rowIndex+1}}
                </td>
                <td>
                    {{ user.id }}
                </td>
                <td>
                    {{ user.email }}
                </td>
                <td>
                    {{ user.name }}
                </td>
                <td>
                    {{ user.age }}
                </td>
                <td>
                    {{ user.phone }}
                </td>
                <td>
                    {{ user.address }}
                </td>
                <td>
                    <div class="flex items-center justify-center gap-2">
                        <p-button class="m-1" icon="pi pi-pencil" size="small" [rounded]="true" severity="info" (onClick)="handleUpdate(user)" />
                        <p-button class="m-1" icon="pi pi-trash" size="small" [rounded]="true" severity="danger" (onClick)="confirmDelete(user, $event)" />
                    </div>
                    
                </td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="5">No customers found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
