::ng-deep .compact-filter {
    .p-inputtext {
        padding: 0.3rem 0.4rem;
        font-size: 12px;
        //   width: 100px;
    }
    .p-button {
        display: none;
    }
}

::ng-deep .mini {
    .p-inputtext {
        padding: 0.3rem 0.4rem;
        font-size: 12px;
          width: 80px;
    }
    .p-button {
        display: none;
    }
}

::ng-deep .id {
    
}


.input-group{
    margin: 5px 0;
    p-floatlabel input{
        width: 100%;
    }
    
    
    textarea{
        width: 100%;
        resize: none;
    }
}
.input-message{
    min-height: 20px;
    color: var(--p-red-700);
}
p-button{
    margin:30px 0;
}

::ng-deep .p-password input {
  width: 100% !important;
}