<div class="flex justify-content-center flex-wrap ">
    <div class="card flex flex-column bg-primary-reverse m-6">
        <h1>Login</h1>
        <form [formGroup]="formGroup" (ngSubmit)="login()">
            <div class="input-group">
                <p-floatlabel variant="on">
                    <input id="username" pInputText formControlName="email" />
                    <label for="username">Username</label>
                </p-floatlabel>
                <div class="input-message">
                    <small class="p-error" *ngIf="formGroup.get('email')?.touched && formGroup.get('email')?.invalid">
                        {{ getErrorMessage('email') }}
                    </small>
                </div>
                
            </div>
            <div class="input-group">
                <p-floatlabel variant="on">
                    <p-password formControlName="password" inputId="password" [toggleMask]="true"/>
                    <label for="password">Password</label>
                </p-floatlabel>
                <div class="input-message">
                    <small class="p-error" *ngIf="formGroup.get('password')?.touched && formGroup.get('password')?.invalid">
                        {{ getErrorMessage('password') }}
                    </small>
                </div>
            </div>
            
            
            <p-button label="Login" styleClass="full-width-button" type="submit"></p-button>
            <div class="flex justify-content-center m-2">
                <span>OR</span>
            </div>
            <p-button label="Create an account" variant="outlined" styleClass="full-width-button" (click)="navigate('/create-account')"></p-button>
        </form>
       
    </div>
</div>

