<div class="grid">
    <div class="col-3">
        <div class="card bg-white m-2 py-1 px-4">
            <h5>Total Orders</h5>
            <h1 class="text-primary">392</h1>
        </div>
    </div>
    <div class="col-3">
        <div class="card bg-white m-2 py-1 px-4">
            <h5>Total Delivered</h5>
            <h1 class="text-primary">318</h1>
        </div>
    </div>
    <div class="col-3">
        <div class="card bg-white m-2 py-1 px-4">
            <h5>Total Cancelled</h5>
            <h1 class="text-primary">{{392-318}}</h1>
        </div>
    </div>
    <div class="col-3">
        <div class="card bg-white m-2 py-1 px-4">
            <h5>Total Revenue</h5>
            <h1 class="text-primary">$ 1242</h1>
        </div>
    </div>
</div>
<div class="grid">
    <div class="col-8">
        <div class="card m-2 px-4 py-1 bg-white" style="height: 400px;">
            <h4>Order this week</h4>
            <p-chart class="w-full" type="bar" [data]="basicData" [options]="basicOptions" />
        </div>
    </div>
    <div class="col-4">
        <div class="card flex flex-column m-2 px-4 py-1 bg-white" style="height: 400px; overflow: hidden;">
            <h4>Recent Orders</h4>
            <div class="flex-grow-1" style="overflow-y: scroll;">
                <ng-container *ngIf="loadingRecentOrder; else ordersLoaded">
                    <p>Loading recent orders...</p>
                </ng-container>

                <ng-template #ordersLoaded>
                    <ng-container *ngIf="recentOrders.length > 0; else noOrders">
                         @for(order of recentOrders; track order.orderId){
                            <div class="m-1 border-1 surface-border p-2">
                                <div class="flex justify-content-between align-items-center">
                                    <span class="text-primary font-bold text-sm">#{{order.orderId}}</span>
                                    <p-chip>
                                        <span class="ml-2 text-xs">
                                            {{order.status}}
                                        </span>
                                    </p-chip>
                                </div>
                                <div class="">
                                    <span>{{order.customer.name}}</span>
                                    <p class="text-sm">$ {{order.totalAmount}}</p>
                                </div>
                                <div class="flex justify-content-end">
                                    <span style="font-size: 11px;">{{ order.orderDate | date: 'dd MMMM yyyy' }}</span>
                                </div>
                            </div>
                        }
                    </ng-container>
                    <ng-template #noOrders>
                        <p>No orders found.</p>
                    </ng-template>
                </ng-template>
                
            </div>
           
        </div>
    </div>
</div>

