.collapse{
    width: 0;
    transition: ease-in-out all 400ms;
}

.show{
    width: 200px;
    padding: 0px 10px;
    transition: ease-in-out all 400ms;
}

.show-content{
    visibility: none;
    opacity: 100%;
    transition: ease-in-out all 400ms;
}

.hide-content{
    visibility: collapse;
    opacity: 0;
    transition: ease-in-out all 100ms;
}